<h1>Pet List Rescue</h1>
<a href="pet-new">New Pet</a>
<hr>

{{#each allPet}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">
        ID: {{_id}}<br>
        RescueId: {{rescueId.name}}<br>
        VirualChip: {{virtualChip}}<br>
        Type: {{typeAnimal}}<br>
        Race: {{race}} <br>
        Genre: {{genre}} <br>
        Age: {{age}} <br>
        Born: {{dateBorn}} <br>
        description: {{description}} <br>
        Sterilice: {{sterilized}} <br>
        galery: {{galleryImages}} <br>
        Rescue Information: {{rescueId.name}}
        <hr>

        <a href="pet-view/{{_id}}">View Pet</a>
        <hr>

    </div>
</div>
{{/each}}