{{!-- <div class="wrapper">
    <section class="show-case">
        <div class="container">

            <article class="blog-news detail-wrapper">
                <div class="full-blog">

                    <!-- Featured Image -->
                    <figure class="img-holder">
                        <a href="blog-detail.html"><img src="http://via.placeholder.com/1920x850" class="img-responsive"
                                alt="News"></a>
                        <div class="blog-post-date theme-bg">
                            Mar 12, 2017
                        </div>
                    </figure>

                    <!-- Blog Content -->
                    <div class="full blog-content">
                        <div class="post-meta">
                            <span class="author"><i class="ti-user"></i><a href="#"
                                    title="Posts by admin">Admin</a></span>
                            <span class="author"><i class="ti-calendar"></i>March 6, 2019</span>
                            <span class="author"><i class="ti-comment-alt"></i>0 Comments</span>
                        </div>
                        <h3 class="bl-title">Helping Kids Grow Up Stronger</h3>
                        <div class="blog-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                            <div class="post-tags">
                                <strong>Tags:</strong>
                                <a href="#">Groups</a>
                                <a href="#">Parkings</a>
                                <a href="#">Spa</a>
                                <a href="#">Team</a>
                                <a href="#">Food</a>
                            </div>
                        </div>

                        <!-- Blog Share Option -->
                        <div class="row mrg-0">
                            <div class="blog-footer-social">
                                <span>Share <i class="fa fa-share-alt"></i></span>
                                <ul class="list-inline social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Blog Content -->

                </div>
            </article>

        </div>
    </section>
</div> --}}


<h1>Pet Detail</h1>

{{#with thePet}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">
        ID: {{_id}}<br>
        RescueId: {{rescueId}}<br>
        VirualChip: {{virtualChip}}<br>
        Type: {{typeAnimal}}<br>
        Race: {{race}} <br>
        Genre: {{genre}} <br>
        Age: {{age}} <br>
        Born: {{dateBorn}} <br>
        description: {{description}} <br>
        Sterilice: {{sterilized}} <br>
        galery: {{galleryImages}} <br>

        <hr>
        <a href="/rescue/editpet/{{_id}}">Edit Pet</a>
        <hr>
        <a href="/rescue/delete?id={{_id}}">Delete Pet</a>
        <hr>
        <a href="/files/upload-local">Añade tu imagen!</a><br>
        <hr>
    </div>
</div>
{{/with}}