<h1>New Pet</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-weight: 100">Editar perfil</h1>
        </div>
        <div class="col-md-6">
            <form action="/adopter/profile/{{thePet._id}}" method="POST">
                {{#with thePet}}
                <div class="form-group">
                    <label for="field1">Type Animal</label>
                    <input name="typeAnimal" type="text" class="form-control" id="field1">
                </div>
                <div class="form-group">
                    <label for="field2">Race</label>
                    <input name="race" type="text" class="form-control" id="field2">
                </div>
                <div class="form-group">
                    <label for="field3">Genre</label>
                    <input name="genre" type="text" class="form-control" id="field3">
                </div>
                <div class="form-group">
                    <label for="field4">Age</label>
                    <input name="age" type="text" class="form-control" id="field4">
                </div>
                <div class="form-group">
                    <label for="field5">Born</label>
                    <input name="dateBorn" type="text" class="form-control" id="field5">
                </div>
                <div class="form-group">
                    <label for="field6">Born</label>
                    <input name="description" type="text" class="form-control" id="field6">
                </div>
                <div class="form-group">
                    <label for="field8">Role</label>
                    <select name="sterilized" class="form-control" id="role-list">
                        <option>Tipo de usuario</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field8">Galerry</label>
                    <input name="galey" type="text" class="form-control" id="field8">
                </div>




                {{/with}}
                <button type="submit" class="btn btn-dark btn-block btn-lg">Guardar</button>

                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}
            </form>

            <a href="/adopter/profile" class="btn btn-dark">Volver</a>

        </div>
    </div>

    {{!-- ID: {{_id}}<br>
        RescueId: {{rescueId}}<br>
        VirualChip: {{virtualChip}}<br>
        Type: {{typeAnimal}}<br>
        Race: {{race}} <br>
        Genre: {{genre}} <br>
        Age: {{age}} <br>
        Born: {{dateBorn}} <br>
        description: {{description}} <br>
        Sterilice: {{sterilized}} <br>
        galery: {{galleryImages}} <br> --}}