<h1>Edit profile</h1>

{{#with allUser}}
Id: {{_id}}<br>
username: {{username}}<br>
email {{email}}<br>
phone: {{phone}}<br>
role: {{role}}<br>
creado: {{createdAt}}<br>
update: {{updatedAt}}<br>

{{/with}}