<h1>Ver tu perfil</h1>
{{!-- {{allUser}} --}}
{{!-- hola: {{id}}
<a href="/profile/{{_id}}">Ver tu perfil</a> --}}
{{#with allUser}}
Id: {{_id}}<br>
username: {{username}}<br>
email {{email}}<br>
phone: {{phone}}<br>
role: {{role}}<br>
creado: {{createdAt}}<br>
update: {{updatedAt}}<br>

{{/with}}

<hr>

<hr>
<a href="/rescue/editprofile?id={{allUser.id}}">Edit Profile</a>
<hr>
<a href="profile-rescue">View Rescue</a><br>
<hr>
{{!-- <a href="pet-list-rescue">View pet list</a><br> --}}
<hr>