<h1>>Perfil de Rescue</h1>
<a href="rescue-new">Nuevo perfil Rescue</a>

{{#each allRescue}}

<hr>
Id: {{_id}}<br>
UserId: {{userId._id}}<br>
Name: {{name}}<br>
description: {{description}}<br>
logo: {{logo}}<br>
location: {{location}}<br>



<hr>
<a href="/rescue/editrescue/{{_id}}">Edit Rescue</a>
<hr>
<a href="/rescue/delete?id={{_id}}">Delete Rescue</a>
<hr>
<a href="/rescue/pet-list-rescue?id={{_id}}">View Pets</a>
<hr>
<a href="/rescue/pet-new/{{_id}}">New Pet</a>
<hr>

{{/each}}