<h1>Listado de Rescues</h1>

{{#each allRescues}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">
        name: {{name}}<br>
        RescueOtherId: {{rescueOtherId}}<br>
        description: {{description}}<br>
        logo: {{logo}}<br>
        location: {{location}} <br>
        
        <hr>
        <a href="rescue-view/{{_id}}">View Rescue</a><br>
        
        <a href="/">Volver</a>
        
      
    </div>
</div>
{{/each}}

