{{!-- {{> partialProbar}} --}}



<h1>Listado de pets</h1>

{{#each allpets}}
{{> partialProbar this}}
{{/each}}

{{#each allPets}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">
        ID: {{_id}}<br>
        adopterId: {{adopterId}}<br>
        Adopter: {{adopter}}<br>
        RescueId: {{rescueId}}<br>
        VirualChip: {{virtualChip}}<br>
        Type: {{typeAnimal}}<br>
        Race: {{race}} <br>
        Genre: {{genre}} <br>
        Age: {{age}} <br>
        Born: {{dateBorn}} <br>
        description: {{description}} <br>
        Sterilice: {{sterilized}} <br>
        galery: {{galleryImages}} <br>
        <hr>
        <a href="pet-view/{{_id}}">View Pet</a>
        <hr>

        <a href="/">Volver</a>

    </div>
</div>
{{/each}}