<h1>Listado de pets</h1>

{{#each allPets}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">
        ID: {{_id}}<br>
        RescueId: {{rescueId}}<br>
        VirualChip: {{virtualChip}}<br>
        Type: {{typeAnimal}}<br>
        Race: {{race}} <br>
        Genre: {{genre}} <br>
        Age: {{age}} <br>
        Born: {{dateBorn}} <br>
        description: {{description}} <br>
        Sterilice: {{sterilized}} <br>
        galery: {{galleryImages}} <br>

<li class="glide__slide">
    <img src="{{pathImg}}" alt="{{nameImg}}" style="width: 100%">
</li>

        <hr>
        <a href="pet-view/{{_id}}">View Pet</a><br>
        <hr>
        <a href="/files/upload-local">Añade tu imagen!</a><br>
        <hr>  
        <a href="/">Volver</a>
    
    </div>
</div>
{{/each}}