<h1>Pet details</h1>

{{#with thePet}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">

        Pet detail: {{petdetail}}<br>
        RescueId: {{rescueId}}<br>
        Virtual Chip: {{virtualChip}}<br>
        Type Animal: {{typeAnimal}}<br>
        Race: {{race}}<br>
        Genre: {{genre}}<br>
        Type: {{type}}<br>
        Age: {{age}}<br>
        Date Born: {{dateBorn}}<br>
        Description: {{description}}<br>
        Sterilized: {{sterilized}}<br>
        Gallery Images: {{galleryImages}}<br>


<a href="/login">Adóptame!</a><br>

<a href="/list-pets">Volver</a><br>

</div>
</div>
{{/with}}