<h1>Rescue details</h1>

{{#with theRescue}}
<div class="col-md-12 col-sm-12">
    <div class="verticleilist listing-shot">

    name:{{name}}<br>
    rescue Id:{{rescueId}}<br>
    description:{{description}}<br>
    logo:{{logo}}<br>
    location{{location}}:<br>
    
    <a href="/list-pets">Ver mascotas!</a><br>

    <a href="/list-rescue">Volver</a><br>

    </div>
</div>
{{/with}}
