Ver tu perfil
{{!-- {{allUser}} --}}
{{!-- hola: {{id}}
<a href="/profile/{{_id}}">Ver tu perfil</a> --}}

Id: {{allUser._id}}<br>
username: {{allUser.username}}<br>
email {{allUser.email}}<br>
phone: {{allUser.phone}}<br>
role: {{allUser.role}}<br>
creado: {{allUser.createdAt}}<br>
update: {{allUser.updatedAt}}<br>